body {
    background: rgb(209, 255, 226);
    font-family: 'Courier New', Courier, monospace, sans-serif;
    color: #000;
    padding: 0px;
    margin: 0px;
    display: flex;
    justify-content: center;
    font-size: 2rem;
    color: rgb(0, 87, 39);
}

p {
    margin-top: 50px;
    opacity: 0.7;
    margin-top: 120px;
}

h3 {
    text-align: center;
}

.slideContainer {
    width: 75%;
    margin-top: 100px;
}

.Motor1::after {
    content: '180';
    color: rgb(0, 87, 39);
    font-size: 2rem;
    position: absolute;
    left: 83%;
    top: 26%;
}

.Motor1::before {
    content: '0';
    color: rgb(0, 87, 39);
    font-size: 2rem;
    position: absolute;
    left: 9%;
    top: 26%;
}

.Motor2::after {
    content: '180';
    color: rgb(0, 87, 39);
    font-size: 2rem;
    position: absolute;
    left: 83%;
    top: 71%;
}

.Motor2::before {
    content: '0';
    color: rgb(0, 87, 39);
    font-size: 2rem;
    position: absolute;
    left: 9%;
    top: 71%;
}

.Motor3::after {
    content: '180';
    color: rgb(0, 87, 39);
    font-size: 2rem;
    position: absolute;
    left: 83%;
    top: 116%;
}

.Motor3::before {
    content: '0';
    color: rgb(0, 87, 39);
    font-size: 2rem;
    position: absolute;
    left: 9%;
    top: 116%;
}

.Motor4::after {
    content: '180';
    color: rgb(0, 87, 39);
    font-size: 2rem;
    position: absolute;
    left: 83%;
    top: 162%;
}

.Motor4::before {
    content: '0';
    color: rgb(0, 87, 39);
    font-size: 2rem;
    position: absolute;
    left: 9%;
    top: 161%;
}

.Motor5::after {
    content: '180';
    color: rgb(0, 87, 39);
    font-size: 2rem;
    position: absolute;
    left: 83%;
    top: 211%;
}

.Motor5::before {
    content: '0';
    color: rgb(0, 87, 39);
    font-size: 2rem;
    position: absolute;
    left: 9%;
    top: 211%;
}

.Motor6::after {
    content: '180';
    color: rgb(0, 87, 39);
    font-size: 2rem;
    position: absolute;
    left: 83%;
    top: 261%;
}

.Motor6::before {
    content: '0';
    color: rgb(0, 87, 39);
    font-size: 2rem;
    position: absolute;
    left: 9%;
    top: 261%;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 20px;
    background: rgb(0, 87, 39);
    outline: none;
    opacity: 0.7;
    -webkit-transition: 0.2s;
    transition: 0.2s;
    border-radius: 10px;
    box-shadow: 0px 1px 10px 1px black;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background: rgb(16, 31, 21);
    cursor: pointer;
}